---
layout: home
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>

        <h2 class="post-headline">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <div class="post-entry">

            {% if post.content contains '<!--more-->' %}
                {{ post.content | split:'<!--more-->' | first }}
            {% else %}
            {% endif %}

            <a href="{{ post.url }}">&nbsp;>></a>
        </div>

        <span class="post-meta">{{ post.date | date: "%-d %B %Y" }}</span>
      </li>
    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
