<footer class="site-footer">

  <div class="wrapper">
    Copyright © 2015 - Rodson Luo
  </div>


</footer>

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="/assets/libs/material/js/ripples.min.js"></script>
<script src="/assets/libs/material/js/material.min.js"></script>
<script>
  $(document).ready(function() {
    // This command is used to initialize some elements and make them work properly
    $.material.init();
  });
</script>
