.page-header {
  color: #fff;
  text-align: center;
  background-color: #512DA8;
  background-image: linear-gradient(120deg, #3F51B5, #512DA8);
  padding: 36px 48px;
}

.page-header__title {
  font-size: 30px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.page-header__description {
  font-size: 12px;
  font-family: "Merriweather", serif;
}

@media screen and (min-width: 505px) {
  .page-header {
    padding: 48px 64px;
  }

  .page-header__title {
    font-size: 48px;
  }

  .page-header__description {
    font-size: 16px;
  }
}

@media screen and (min-width: 800px) {
  .page-header {
    padding: 80px 24px;
  }

  .page-header__title {
    font-size: 70px;
  }

  .page-header__description {
    font-size: 18px;
  }

}