<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="main-bg">
      <div class="main-title">
        Hacker Mind
      </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <hr>

    <div class="about">
      <div class="title">
        About
      </div>
      <img class="avatar" src="/assets/images/avatar.jpg" alt="avatar">
      <div class="name">
        Rodson
      </div>
      <div class="intro">
        I worked as an android developer when I graduated from school. Now, I am working on some projects about web programming with MEAN full stack.
      </div>
    </div>

    <hr>

    <div class="contact">
      <div class="title">
        Contact
      </div>
      <div class="item-group">
        <span class="item">
          <a href="https://www.facebook.com/rodson.luo"><i class="fa fa-facebook-square"></i></a>
        </span>
        <span class="item">
          <a href="https://twitter.com/Rodson_Luo"><i class="fa fa-twitter-square"></i></a>
        </span>
        <span class="item">
          <a href="https://github.com/rodson"><i class="fa fa-github-square"></i></a>
        </span>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
